@import url('./layout/nav.css');
@import url('./layout/home.css');
@import url('./layout/footer.css');
@import url('./components/reviewcard.css');
@import url(./components/profile.css);

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  background-color: rgb(238, 238, 238);
}
